@use '@angular/material' as mat;
@use 'token-utils';
@use 'breakpoints';

.app-about-modal--panel {
  max-height: 100vh;
  border-radius: token-utils.sys-slot(corner-large);
  border: 2px solid token-utils.sys-slot(outline);

  @include mat.dialog-overrides(
    (
      container-shape: token-utils.sys-slot(corner-large),
      container-small-max-width: 100vw,
    )
  );

  markdown {
    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-block-end: 0rem;
    }

    ul {
      margin: 0;
      padding-left: 1.5rem;
    }

    h3 {
      font: token-utils.sys-slot(title-small);
      letter-spacing: token-utils.sys-slot(title-small-tracking);
      margin: 0;
      margin-top: 2.5rem;
      margin-bottom: 0.5rem;
      color: token-utils.sys-slot(on-surface);
    }

    h3:first-child {
      margin-top: 0;
    }

    h3 + p {
      margin-block-start: 0;
    }
  }

  @include breakpoints.breakpoint(large) {
    border-radius: 2rem;

    @include mat.dialog-overrides(
      (
        container-shape: 2rem,
      )
    );
  }
}

.app-about-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2.5rem;
  color: token-utils.sys-slot(on-surface);
  background: token-utils.sys-slot(surface-container-high);

  .app-about-modal--close {
    @include mat.icon-button-overrides(
      (
        state-layer-size: 3rem,
        icon-size: 1.5rem,
      )
    );

    @include breakpoints.breakpoint(large) {
      @include mat.icon-button-overrides(
        (
          state-layer-size: 4rem,
          icon-size: 3rem,
        )
      );
    }

    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }

  .app-about-modal--logo-container {
    width: 17rem;
    position: relative;
    color: token-utils.sys-slot(on-surface);
  }

  .app-about-modal--left,
  .app-about-modal--right {
    padding: 1.25rem;
  }

  .app-about-modal--left {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.25rem;
    padding-bottom: 0;

    .app-about-modal--header {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      font: token-utils.sys-slot(title-small);
      letter-spacing: token-utils.sys-slot(title-small-tracking);

      .app-about-modal--title {
        max-width: calc(100% - 2.25rem);
        font: token-utils.sys-slot(headline-small);
        letter-spacing: token-utils.sys-slot(headline-small-tracking);
        color: token-utils.sys-slot(primary);
      }
    }

    .app-about-modal--types {
      .app-about-modal--type-header {
        font: token-utils.sys-slot(title-small);
        letter-spacing: token-utils.sys-slot(title-small-tracking);
        color: token-utils.sys-slot(primary);
        margin-bottom: 1rem;
      }

      .app-about-modal--chips {
        display: flex;
        gap: 0.75rem;
        flex-wrap: wrap;
      }
    }
  }

  .app-about-modal--right {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 0;
    font: token-utils.sys-slot(body-small);
    letter-spacing: token-utils.sys-slot(body-small-tracking);
    color: token-utils.sys-slot(on-surface-variant);
  }

  @include breakpoints.breakpoint(medium) {
    flex-direction: row;
    gap: 0;

    markdown {
      h3 {
        font: token-utils.sys-slot(title-medium);
        letter-spacing: token-utils.sys-slot(title-medium-tracking);
        margin-bottom: 0.75rem;
      }
    }

    .app-about-modal--left,
    .app-about-modal--right {
      flex: 1;
    }

    .app-about-modal--left {
      max-width: 18.5rem;
      padding-bottom: 1.25rem;

      .app-about-modal--header {
        .app-about-modal--title {
          max-width: 100%;
        }
      }

      .app-about-modal--types {
        .app-about-modal--type-header {
          font: token-utils.sys-slot(title-medium);
          letter-spacing: token-utils.sys-slot(title-medium-tracking);
        }

        .app-about-modal--chips {
          gap: 0.5rem;
        }
      }
    }

    .app-about-modal--logo-container {
      width: 14.5rem;
    }

    .app-about-modal--right {
      background: token-utils.sys-slot(surface-container-low);
      padding-top: 1.25rem;
      font: token-utils.sys-slot(body-medium);
      letter-spacing: token-utils.sys-slot(body-medium-tracking);
    }
  }

  @include breakpoints.breakpoint(large) {
    .app-about-modal--close {
      top: 0.5rem;
      right: 0.5rem;

      mat-icon {
        font-size: 3rem;
        height: 3rem;
        width: 3rem;
      }
    }

    markdown {
      h3 {
        font: token-utils.sys-slot(title-large);
        letter-spacing: token-utils.sys-slot(title-large-tracking);
        margin-bottom: 1rem;
        margin-top: 3rem;
      }
    }

    .app-about-modal--logo-container {
      width: 16.375rem;
    }

    .app-about-modal--left {
      max-width: 20.5rem;
      padding: 2rem;

      .app-about-modal--header {
        font: token-utils.sys-slot(title-large);
        letter-spacing: token-utils.sys-slot(title-large-tracking);
        gap: 1.25rem;

        .app-about-modal--title {
          font: token-utils.sys-slot(headline-large);
          letter-spacing: token-utils.sys-slot(headline-large-tracking);
        }
      }

      .app-about-modal--types {
        .app-about-modal--type-header {
          font: token-utils.sys-slot(title-large);
          letter-spacing: token-utils.sys-slot(title-large-tracking);
        }
      }
    }

    .app-about-modal--right {
      padding: 2rem;
      font: token-utils.sys-slot(body-large);
      letter-spacing: token-utils.sys-slot(body-large-tracking);
    }
  }
}
