<swiper-container init="false" #swiperEl>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 1</div>
  </swiper-slide>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 2</div>
  </swiper-slide>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 3</div>
  </swiper-slide>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 4</div>
  </swiper-slide>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 5</div>
  </swiper-slide>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 6</div>
  </swiper-slide>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 7</div>
  </swiper-slide>
  <swiper-slide>
    <div style="height: 100px; width: 100px">Slide 8</div>
  </swiper-slide>
  <!--  -->
</swiper-container>

<app-kiosk-card-carousel-controls />
