@use '@angular/material' as mat;
@use 'breakpoints';
@use 'layer-utils';
@use 'token-utils';

:host {
  display: block;

  .app-header--header {
    display: grid;
    grid-template-areas:
      'logo . actions'
      'title title title';
    grid-template-columns: 9.75rem 1fr auto;
    grid-template-rows: 3.5rem auto;
    align-items: center;
    background: token-utils.sys-slot(background);
  }

  .app-header--logo {
    position: relative;
    grid-area: logo;
    padding: 0.75rem 1rem;
    border-radius: token-utils.sys-slot(corner-large);
    color: token-utils.sys-slot(on-surface);
    outline: none;

    @include layer-utils.state-layer();
  }

  .app-header--title {
    grid-area: title;
    font: token-utils.sys-slot(headline-small);
    letter-spacing: token-utils.sys-slot(headline-small-tracking);
    align-content: center;
    padding: 0.5rem 1rem;
    color: token-utils.sys-slot(on-surface-variant);
    border-top: 1px solid token-utils.sys-slot(surface-variant);
  }

  .app-header--actions {
    grid-area: actions;
    display: flex;
    align-items: center;
  }

  .app-header--button {
    height: 3rem;
    padding: 0.75rem 1rem;
    border-radius: token-utils.sys-slot(corner-large);
    font: token-utils.sys-slot(label-medium);
    letter-spacing: token-utils.sys-slot(label-medium-tracking);
    color: token-utils.sys-slot(primary);

    @include mat.button-overrides(
      (
        text-state-layer-color: token-utils.sys-slot(on-surface),
        text-pressed-state-layer-opacity: 0.1,
        text-focus-state-layer-opacity: 0.1,
      )
    );
  }

  @include breakpoints.breakpoint(large) {
    .app-header--header {
      grid-template-areas: 'logo title actions';
      grid-template-columns: 20.25rem 1fr auto;
      grid-template-rows: 6.625rem;
    }

    .app-header--logo {
      padding: 9px 2rem;
      border-radius: 2rem;
    }

    .app-header--title {
      text-align: center;
      border-top: none;
    }

    .app-header--button {
      height: 4.75rem;
      padding: 2.5rem 2rem;
      border-radius: 2rem;
      font: token-utils.sys-slot(label-large);
      letter-spacing: token-utils.sys-slot(label-large-tracking);
    }
  }
}
