@use 'token-utils';
@use 'breakpoints';

:host {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  border-radius: 2rem;
  overflow: hidden;

  .app-kiosk-card--content-button,
  .app-kiosk-card--state-layer {
    height: 100%;
    width: 100%;
  }

  .app-kiosk-card--state-layer {
    position: absolute;
    background: token-utils.sys-slot(on-surface);
    opacity: 0;
  }

  .app-kiosk-card--content-button {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    position: relative;
    color: token-utils.sys-slot(on-surface);
    text-decoration: none;
    gap: 0;
  }

  .app-kiosk-card--content-button:hover {
    .app-kiosk-card--state-layer {
      opacity: 0.08;
    }
  }

  .app-kiosk-card--content-button:active,
  .app-kiosk-card--content-button:focus {
    .app-kiosk-card--state-layer {
      opacity: 0.1;
    }
  }

  .app-kiosk-card--header {
    position: relative;
    min-width: 272px;
    aspect-ratio: 272/163;

    .app-kiosk-card--image {
      object-fit: cover;
    }
  }

  .app-kiosk-card--type-chip {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    padding: 0.5rem 1.25rem;
    background: token-utils.sys-slot(surface-container-highest);
    border: 1px solid token-utils.sys-slot(outline-variant);
    border-radius: 9999px;
    font: token-utils.sys-slot(label-medium);
    letter-spacing: token-utils.sys-slot(label-medium-tracking);
  }

  .app-kiosk-card--title {
    padding: 1.25rem;
    background: token-utils.sys-slot(surface-container-highest);
    font: token-utils.sys-slot(title-medium);
    letter-spacing: token-utils.sys-slot(title-medium-tracking);
  }

  @include breakpoints.breakpoint(large) {
    .app-kiosk-card--type-chip {
      bottom: 1.5rem;
      left: 1.5rem;
      font: token-utils.sys-slot(label-large);
      letter-spacing: token-utils.sys-slot(label-large-tracking);
    }

    .app-kiosk-card--title {
      padding: 1.5rem;
      font: token-utils.sys-slot(title-large);
      letter-spacing: token-utils.sys-slot(title-large-tracking);
    }
  }
}
