<a class="app-kiosk-card--content-button" draggable="false" [routerLink]="link()" #cardButton>
  <div class="app-kiosk-card--header">
    <img
      class="app-kiosk-card--image"
      alt=""
      draggable="false"
      fill
      ngSrcset="600w, 1000w"
      sizes="(min-width: 1280px) 100vw, 600px"
      [ngSrc]="image()"
      [priority]="priority()"
    />
    <div class="app-kiosk-card--type-chip">{{ type() | titlecase }}</div>
  </div>
  <div class="app-kiosk-card--title">{{ title() }}</div>
</a>
