@use './utils/breakpoints' as breakpoints;
@use '@fontsource-variable/lora' as lora;
@use '@fontsource-variable/plus-jakarta-sans' as plus-jakarta-sans;

// Subset of Material Symbols Rounded icons to include in the build
@font-face {
  font-family: 'Material Symbols Rounded Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url(../../public/media/material-symbols-rounded.woff2) format('woff2-variations');
}

mat-icon,
.material-symbols-rounded,
.material-icons,
[matButtonIcon] {
  font-family: 'Material Symbols Rounded Variable';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;

  @include breakpoints.breakpoint(large) {
    font-variation-settings:
      'FILL' 1,
      'wght' 500,
      'GRAD' 0,
      'opsz' 48;
  }
}
