@use '@angular/material' as mat;
@use './palettes' as palettes;
@use './typography' as typography;

$_overrides: typography.$typography-overrides;

:root {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: palettes.$primary-palette,
        tertiary: palettes.$tertiary-palette,
        theme-type: color-scheme,
      ),
      typography: typography.$typography,
      density: 0,
    ),
    $_overrides
  );
}
