@use 'token-utils';
@use 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: token-utils.sys-slot(background);

  .app--header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .app--content {
    height: 0;
    flex-grow: 1;
  }

  @include breakpoints.breakpoint(large) {
    display: block;

    .app--content {
      $header-height: 106px;
      height: calc(100vh - #{$header-height});
    }
  }
}
