@use 'token-utils';
@use 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: token-utils.sys-slot(background);

  .app--header {
    position: sticky;
    top: 0;
  }

  .app--content {
    flex-grow: 1;
  }
}
