@use '@angular/material' as mat;
@use 'token-utils';

:host {
  display: block;
  height: 100%;

  .app-landing-page--card-carousel {
    height: 100%;
  }

  .app-landing-page--card-container {
    box-sizing: border-box;
    height: 100%;
    padding: 0 16px 16px 16px;
    overflow-y: auto;
  }

  .app-landing-page--loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .app-landing-page--loading-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: token-utils.sys-slot(on-surface),
        )
      );
    }
  }
}
