@let items = visibleExhibits();
@if (items.length > 8 && isLargeScreen()) {
  <app-kiosk-card-carousel class="app-landing-page--card-carousel" [exhibits]="items" />
} @else {
  <app-kiosk-card-container class="app-landing-page--card-container">
    @for (item of items; track item.id) {
      <app-kiosk-card
        class="app-landing-page--card"
        [title]="item.title"
        [image]="item.thumbnailUrl"
        [link]="`/exhibit/${item.id}`"
        [type]="item.visualizationUrl ? 'visualization' : 'video'"
        [priority]="$index < 8"
      />
    }
  </app-kiosk-card-container>
}
